.myOrders {
    height: 100%;
}
.myOrders__title {
    font-size: 24px;
    color: #333333;
    font-weight: normal;
}
.myOrders main {
    padding-right: 25px;
}
.order {
    position: relative;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #dddddd;
    padding: 25px 0;
}
.order__info {
    width: 65%;
    display: flex;
}
.order__photo {
    width: 90px;
    height: 90px;
    border: 10px solid #dddddd;
}

.order__info > div {
    display: flex;
    flex-direction: column;
    margin-left: 15px;
}
.order__id {
    font-size: 14px;
    color: #777777;
}
.order__item {
    margin: 5px 0;
    font-weight: 600;
    line-height: 23px;
    color: #333333;
    font-size: 16px;
}
.order__delivery {
    font-size: 14px;
    color: #777777;
}

.order__paymentInfo {
    width: 35%;
    display: flex;
    flex-direction: column;
}
.order__paymentInfoPay {
    display: flex;
    flex-direction: column;
}
.order__paymentType {
    font-weight: normal;
    font-size: 14px;
    text-align: right;
    color: #777777;
}
.order__paymentPrice {
    font-size: 20px;
    text-align: right;
    color: #333333;
}
.order__arrow {
    text-align: right;
    stroke: #333;
    margin-top: 10px;
}
.order__status {
    position: absolute;
    font-weight: normal;
    font-size: 14px;
    border-radius: 6px 6px 0px 0px;
    bottom: 0;
    right: 0;
    width: 85px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Responsive */
@media only screen and (max-width: 580px) {
    .order {
        display: flex;
        flex-direction: column;
    }
    .myOrders main {
        padding-right: 0;
    }
    .order__info {
        width: 100%;
    }

    .order__paymentInfo {
        flex-direction: row;
        justify-content: space-between;
        margin-top: 10px;
        width: 100%;
    }
    .order__paymentType {
        text-align: left;
    }
    .order__paymentPrice {
        text-align: left;
    }
    .order__arrow {
        position: absolute;
        top: 35%;
        right: 0;
        transform: translate(-50%,-50%);
        height: fit-content;
        transform: rotate(-90deg);
    }
    .order__photo {
        width: 70px;
        height: 70px;
        border: 7px solid #dddddd;
    }
    .order__id {
        font-size: 11px;
    }
    .order__item {
        font-size: 12px;
    }
    .order__delivery {
        font-size: 11px;
    }
    .order__paymentType {
        font-size: 11px;
    }
    .order__paymentPrice {
        font-size: 11px;
        font-weight: bold;
    }
}
