.collections {
    padding: 0 25px;
    padding-top: 50px;
}
.collections__heading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.collections__heading > h1 {
    width: 240px;
    font-family: bankGothic;
    font-weight: normal;
    font-size: 20px;
    color: #333333;
    z-index: 1;
    background: #fff;
    text-align: center;
}
.collections__heading:after {
    position: absolute;
    left: 0;
    top: 50%;
    content: "";
    width: 100%;
    height: 1px;
    background: #ddd;
    z-index: -1;
}
.collections main {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 35px 0;
    width: auto;
}
.collectionsItem {
    margin-right: 10px;
}
.collectionsItem__details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.collectionsItem__details > p {
    margin: 5px 0;
    font-weight: normal;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}
.collectionsItem__details > span {
    font-weight: normal;
    font-size: 13px;
    line-height: 19px;
    color: var(--primary-color);
}
