.home {
    margin-top: 70px;
    user-select: none;
}

.home__tab {
    display: none;
}

/* Responsive */
@media only screen and (max-width: 870px) {
    .home__tab {
        display: block;
    }
}
