.customer {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    padding: 40px;
}
.customer__title {
    padding: 10px 0;
    margin-bottom: 40px;
}
.customer__title > p {
    font-size: 12px;
    color: #777777;
    font-weight: 400;
    line-height: 17px;
}

.customer > main {
    display: flex;
}

.customer__nav {
    width: 30%;
}
.customer__main {
    width: 70%;
}

/* Info */
.customerInfo {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.customerInfo__photo {
    width: 72px;
    height: 72px;
}
.customerInfo > div {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 20px;
}
.customerInfo__name {
    width: 100%;
    font-size: 16px;
    color: #333333;
}
.customerInfo__email {
    font-weight: 500;
    font-size: 14px;
    color: #9b9b9b;
}

/* Routes */
.customerRoute {
    cursor: pointer;
    display: flex;
    margin-bottom: 10px;
    padding: 10px 0;
}
.customerRoute__header {
    width: 180px;
}

.customerRoute__heading {
    font-weight: 600;
    font-size: 16px;
    color: #222222;
}
.customerRoute__subHeading {
    font-weight: 500;
    font-size: 11px;
    color: #9b9b9b;
}
.customerRoute__arrow {
    height: fit-content;
    transition: 0.3s ease-in-out;
    stroke: #333;
}

/* Main */

.customer__main {
    border: 1px solid #000;
    padding: 25px;
}

/* Mobile View*/
.customerMobile {
    display: none;
    flex-direction: column;
    margin-top: 70px;
    padding: 40px;
    width: 100%;
}

/* Responsive */
@media only screen and (max-width: 870px) {
    .customer {
        display: none;
    }
    .customerMobile {
        display: flex;
    }
    .customer__routes {
        margin-top: 0px;
    }
    .customerRoute__header {
        padding: 20px 0;
        width: 100%;
        border-bottom: 1px solid #000;
    }
    .customer__nav {
        width: 100%;
    }
    .customerRoute__arrow {
        margin-top: 20px;
    }
}
