.header {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 40px;
    user-select: none;
    z-index: 1001;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: #fff;
    border-bottom: 1px solid #dddddd;
    transition: 0.3s;
}

/* Navbar */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50%;
}
.navbar > p {
    height: 100%;
    margin: 25px 0px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 400;
    color: #444;
    transition: 0.3s ease-in-out;
}
.navbar > p:hover {
    color: var(--primary-color);
}

.activeRoute{
    color: var(--primary-color) !important;
}

/* Menu */
.menu {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}
.menu__icon {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 30px;
    cursor: pointer;
    z-index: 1000;
    transition: var(--speed) ease-in-out;
    padding: 5px;
    border-radius: 5px;
    transition: 0.3s ease-in-out;
    fill: #444;
}
.menu__icon:hover {
    fill: var(--primary-color) !important;
}

.bar {
    display: none;
}

/* SideMenu */
.sideMenu {
    position: absolute;
    width: 300px;
    height: 100vh;
    top: 0;
    right: 0;
    padding: 20px;
    background: #fff;
    z-index: 10000;
    box-shadow: 0 0 5px #666;
}
.sideMenu__close {
    text-align: right;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    stroke: #444;
}
.sideMenu__close:hover {
    stroke: var(--primary-color) !important;
}
.sideMenu__top,
.sideMenu__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
}
.sideMenu__top {
    border-bottom: 1px solid #dddddd;
}
.sideMenu p {
    margin: 15px 0;
    font-weight: normal;
    font-size: 16px;
    text-transform: uppercase;
    cursor: pointer;
}
.activeSideMenu {
    color: var(--primary-color);
}


/* Responsive */
@media only screen and (max-width: 870px) {
    .navbar,
    .cart,
    .user {
        display: none;
    }
    .bar {
        display: flex;
    }
}
