@font-face {
  font-family: jost;
  src: url(assets/fonts/Jost-Regular.ttf);
}
@font-face {
  font-family: scada;
  src: url(assets/fonts/Scada-Regular.ttf);
}
@font-face {
  font-family: bankGothic;
  src: url(assets/fonts/BankGothic-Regular.ttf);
}

:root {
  --primary-color: #E10000;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  font-family: jost;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  width: 10px;
  background: #a6acb4;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #555;
}
